{% extends 'test_base.html' %}
{% load static %}




{% block head %}


{% endblock head %}





{% block body %}
    <br>
    <h1>function based detail view</h1>
    <hr>
    <h1>instance data</h1>
    {% if object %}
        {% if object.product_image %}
            <img src="{{ object.product_image.url }}" class="view-image-size">
        {% else %}
            <img src="{% static 'image/no_image.jpg' %}" class="view-image-size">
        {% endif %}
        <h1>{{ object.title }}</h1><br>
        <h3>{{ object.description }}</h3>
    {% else %}
        <h1>Object is empty</h1>
    {% endif %}





{% endblock body %}