



<div class="card" style="width: 18rem;">
    {% if instance.product_image %}
        <img class="card-img-top" src="{{ instance.product_image.url }}" alt="Card image cap">
    {% endif %}
  <div class="card-body">
      <h5 class="card-title">{{ instance.title }}</h5>

      <p class="card-text">{{ instance.description }}</p>
{#    <a href="{% url 'CB_slug_deatil' data.slug %}" class="btn btn-dark">Go somewhere</a>#}
      <a href="{{ instance.slug_product_link }}" class="btn btn-dark">Go somewhere</a>

  </div>
</div>