
{% extends 'test_base.html' %}
{% load static %}




{% block head %}


{% endblock head %}

{% block body %}
    <h1>Class Based based Detail view</h1>



    {% if object.product_image %}
        <img src="{{ object.product_image.url }}" class="view-image-size">
    {% else %}
        <h1>this product has no image</h1>
    {% endif %}
    <h1> Name: {{ object.title }}</h1>
    <h2> Description : {{ object.description }} </h2>
    <h2> Product id : {{ object.id }} </h2>
    <h2> Featured: {{ object.featured }} </h2>



{% endblock body %}